/* Colors from https://digitalsynopsis.com/design/color-schemes-palettes/, #29 */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

#root,
.App {
	min-height: 100vh;
	--night: #090a0fff;
	--gunmetal: #1b2735ff;
	--platinum: #ddddddff;
	--steel-blue: #0582caff;
	--penn-red: #95190cff;
	background: radial-gradient(
		ellipse at bottom,
		var(--gunmetal) 0%,
		var(--night) 100%
	);
}
html,
body {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	font-family: "Kode Mono", "Consolas", monospace;
	overflow-y: hidden;
}

h1 {
	font-size: 3vw;
	text-align: center;
	color: var(--platinum);
}

p {
	font-size: 1vw;
	color: var(--platinum);
}

a {
	text-decoration: underline;
	color: var(--steel-blue);
}
.App {
	display: grid;
	grid-template-columns: 2fr 2fr; /* adjust as needed */
	align-items: center;
	width: 100%;
	height: 100%;
}

.App > #quoteArea {
	color: var(--platinum);
	/* font-size: 30px; */
	font-size: 2vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 30vw;
	margin-left: 5vw;
}

.App .rightSide {
	display: flex;
	flex-direction: column;
	min-width: 70vw;
}
.App .classes {
	flex: 1;
	overflow: auto;
}
